

@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


.PortfoliolMain{
  padding-top: 4rem;
  padding-bottom: 5rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}


#PortfolioDescription {
  text-align: center;
  border: double;
  font-family: "Open Sans", sans-serif;
  color: #8c7a6b;
  font-size: 1.2rem;
}

.PortfolioTitle {
  margin: 0;
  font-family: "Caesar Dressing", system-ui;
  color: #8c7a6b;
  text-align: center;
  padding-bottom: 10px;
  
}

.PortfolioPH {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.PortfolioButton {
  font-family: "Caesar Dressing", system-ui;
  background-color: #8c7a6b;
  text-align: center;
  font-size: 2rem;
  border: none;
  color: #d0cfc4;
  
}

.PortfolioButton:hover{
  background-color: #d0cfc4;
  color: #8c7a6b;
  border: double;
}


.PhotoCard {
  width: 100%;
  overflow: hidden;
}

.PhotoImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.PhotoGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.PhotoGridRow {
  width: 90%;
}

.g1-container {
  position: relative;
  overflow: hidden; 
}

.g1 {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.g1-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8c7a6b;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
  z-index: 1; 
}

.g1-container:hover .g1 {
  opacity: 0; 
}

.g1-container:hover .g1-overlay {
  opacity: 1; 
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Caesar Dressing", system-ui;
  color: #d0cfc4; 
  font-size: 1.5rem;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
  z-index: 2; 
}

.g1-container:hover .hover-text {
  opacity: 1; 
}
